<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<div>
		<form action="{% url 'CargoApp:Booking' user.id' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<input type="number" name="" id="num1">
			<input type="number" name="" id="num2">
			<input type="number" name="" id="num3">

			
		</form>
			
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function(e) {
    $("input").keyup(function() {
        $val1=Number($("#num1").val());
                $val2=Number($("#num2").val());

                $("#num3").val(200*$val1 * $val2);
    });
});

    </script>
</body>
</html> -->