{% extends "CargoApp/base.html" %}
{%  load static %}
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title></title>
	
	
</head>
<body>
	{% block content %}
	<div class="card" style="background-color: #fff; height: 400px;" >
		<div class="card-body">
			
			
		</div>

		<form action="{% url 'CargoApp:ChangePassword' user.id %}" method="post" enctype="mutipart/form-data">
			{% csrf_token %}
            <center>
            <h3>ChangePassword</h3>	
            </center>
			

			
					
					
					{{ form.as_table }}
					



					<tr>
						<td>
							<br/>
							<center>
							<input class="btn btn-success" type="submit" name="submit" value="Update">
							</center>
						</td>
					</tr>
					<br/>


					<a  href="{% url 'CargoApp:Home' user.id %}">
						<img style="height: 60px;" src="{% static 'assets/images/bw3.png' %}">
					</a>
				


	
				
			


		</form>
		

		
	
</div>


	{% endblock %}

</body>
</html>