{% extends 'CargoApp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>


<body>
	{% block content %}

	

	<div class="container">
		<br/>

		
		<div style="background-color: rgb(100, 100, 98);" class="panel" >

			<div class="card-header">

				<div class="row" >

				<div class="col-md-12" style="margin-left: 280px;">

				<h4 style="font-size:20px; ">Basic Price(Based on Distance/Location)</h4>
				</div>


</div>


<hr color="FFFFFF">

           <div class="row" >
           	<div class="col-md-4">

           		<h4>Source</h4>

           		

           	</div>
           	<div class="col-md-4">
           		
               <h4>Destination</h4>
           	</div>

           	<div class="col-md-4">
           		
               <h4>Price</h4>

           	</div>
           	


           </div>
           <hr color="FFFFFF">


           <div class="row">
           	<div class="col-md-4">
           		
           		<h4 style="font-family:TimesNewRoman;">Delhi</h4>


           	</div>
           	<div class="col-md-4">

           		<h4 style="font-family:TimesNewRoman;">Mumbai</h4>
           		

           	</div>

           	<div class="col-md-4">
           		

                   <h4 style="font-family:TimesNewRoman;">1500</h4>
           	</div>
           	

           </div>

           <hr color="FFFFFF">



           <div class="row">
           	<div class="col-md-4">
           		
           		<h4 style="font-family:TimesNewRoman;">Banglore</h4>


           	</div>
           	<div class="col-md-4">

           		<h4 style="font-family:TimesNewRoman;">Kolkata</h4>
           		

           	</div>

           	<div class="col-md-4">
           		

                   <h4 style="font-family:TimesNewRoman;">2500</h4>
           	</div>
           	

           </div>

           <hr color="FFFFFF">


           <div class="row">
           	<div class="col-md-4">
           		
           		<h4 style="font-family:TimesNewRoman;">Hyderabad</h4>


           	</div>
           	<div class="col-md-4">

           		<h4 style="font-family:TimesNewRoman;">Chennai</h4>
           		

           	</div>

           	<div class="col-md-4">
           		

                   <h4 style="font-family:TimesNewRoman;">1000</h4>
           	</div>
           	

           </div>

           <hr color="FFFFFF">



           <div class="row">
           	<div class="col-md-4">
           		
           		<h4 style="font-family:TimesNewRoman;">Delhi</h4>


           	</div>
           	<div class="col-md-4">

           		<h4 style="font-family:TimesNewRoman;">Kolkata</h4>
           		

           	</div>

           	<div class="col-md-4">
           		

                   <h4 style="font-family:TimesNewRoman;">1500</h4>
           	</div>
           	

           </div>

           <hr color="FFFFFF">



           <div class="row">
           	<div class="col-md-4">
           		
           		<h4 style="font-family:TimesNewRoman;">Delhi</h4>


           	</div>
           	<div class="col-md-4">

           		<h4 style="font-family:TimesNewRoman;">Thiruvandapuram</h4>
           		

           	</div>

           	<div class="col-md-4">
           		

                   <h4 style="font-family:TimesNewRoman;">2000</h4>
           	</div>
           	

           </div>

           <hr color="FFFFFF">

           <div class="row">
           	<div class="col-md-4">
           		
           		<h4 style="font-family:TimesNewRoman;">Kerela</h4>


           	</div>
           	<div class="col-md-4">

           		<h4 style="font-family:TimesNewRoman;">Noida</h4>
           		

           	</div>

           	<div class="col-md-4">
           		

                   <h4 style="font-family:TimesNewRoman;">5000</h4>
           	</div>
           	

           </div>

           <hr color="FFFFFF">


           <div class="row">
           	<div class="col-md-4">
           		
           		<h4 style="font-family:TimesNewRoman;">Chennai</h4>


           	</div>
           	<div class="col-md-4">

           		<h4 style="font-family:TimesNewRoman;">Goliar</h4>
           		

           	</div>

           	<div class="col-md-4">
           		

                   <h4 style="font-family:TimesNewRoman;">6000</h4>
           	</div>
           	

           </div>

           <hr color="FFFFFF">

			</div>

			</div>
			<br/>
			<br/>

			<div class="row" style="margin-left: 2px; ">

				<div style="background-color:rgb(100, 100, 98);" class="col-md-6">

			<div class="panel"  >
     	
		

			<h4 style="margin-left: 200px;" >Price on WEIGHT</h4>


			<hr color="#FFFFFF">


            <div class="row">
			<div class="col-md-3">

				<h5 style="margin-left: 20px;">Weight</h5>
				
			</div>

			<div class="col-md-3">

				<h5 style="margin-left: 270px;">Price</h5>
				
          </div>
			</div>
			<hr color="#FFFFFF">


			<div class="row">

				<div class="col-md-3">

					<h4 style="margin-left: 20px;font-family:TimesNewRoman;">0-5kg</h4>
					

				</div>
				<div class="col-md-3">

				<h5 style="margin-left: 270px;font-family:TimesNewRoman;" >NoCharge</h5>


				</div>
				

			</div>
			<hr color="#FFFFFF">

			<div class="row">

				<div class="col-md-3">

					<h4 style="margin-left: 20px;font-family:TimesNewRoman;">5.1-10kg</h4>
					

				</div>


				<div class="col-md-3">

				<h5 style="margin-left: 270px;font-family:TimesNewRoman;" >BasicPrice*1.11</h5>


				</div>
				

			</div>
			<hr color="#FFFFFF">

			<div class="row">

				<div class="col-md-3">

					<h4 style="margin-left: 20px;font-family:TimesNewRoman;">10.1-25kg</h4>
					

				</div>
				<div class="col-md-3">

				<h5 style="margin-left: 270px;font-family:TimesNewRoman;">BasicPrice*1.22</h5>


				</div>
				

			</div>

			 <hr color="#FFFFFF">


			<div class="row">

				<div class="col-md-3">

					<h4 style="margin-left: 20px;font-family:TimesNewRoman;">25.1-100kg</h4>
					

				</div>
				<div class="col-md-3">

				<h5 style="margin-left: 270px;font-family:TimesNewRoman;">BasicPrice*1.33</h5>


				</div>
				

			</div>
			<hr color="#FFFFFF">


			<div class="row">

				<div class="col-md-3">

					<h4 style="margin-left: 20px;font-family:TimesNewRoman;">More than 100kg</h4>
					

				</div>
				<div class="col-md-3">

				<h5 style="margin-left: 270px;font-family:TimesNewRoman;">BasicPrice*1.44</h5>


				</div>
				

			</div>
			<hr color="#FFFFFF">
            </div>
            </div>



            <div class="col-md-6" >
            	<div style="background-color:rgb(100, 100, 98); " class="panel">

            		<div class="panel panel-heading">
            			
                      <h4 style="margin-left: 200px;">Price on VOLUME</h4>
            		</div>


            		<hr color="#FFFFFF">


            <div class="row">
			<div class="col-md-3">

				<h5 style="margin-left: 20px;">Volume</h5>
				
			</div>

			<div class="col-md-3">

				<h5 style="margin-left: 270px;">Price</h5>
				
          </div>

          

         
			</div>
             <hr color="#FFFFFF">
			<div class="row">

				<div class="col-md-3">

                 <h5 style="margin-left: 20px;font-family:TimesNewRoman;">0-8m^3</h5>
					
				</div>

				<div class="col-md-3">

					<h5 style="margin-left: 270px;font-family:TimesNewRoman;">NoCharge</h5>
					

				</div>
				


			</div>

<hr color="#FFFFFF">
			<div class="row">

				<div class="col-md-3">

                 <h5 style="margin-left: 20px;font-family:TimesNewRoman;">8.1-27 m^3</h5>
					
				</div>

				<div class="col-md-3">

					<h5 style="margin-left: 270px;font-family:TimesNewRoman;">BasicPrice*1.1</h5>
					

				</div>
				


			</div>

<hr color="#FFFFFF">

			<div class="row">

				<div class="col-md-3">

                 <h5 style="margin-left: 20px;font-family:TimesNewRoman;">0-8m^3</h5>
					
				</div>

				<div class="col-md-3">

					<h5 style="margin-left: 270px;font-family:TimesNewRoman;">BasicPrice*1.22</h5>
					

				</div>
				


			</div>


<hr color="#FFFFFF">
			<div class="row">

				<div class="col-md-3">

                 <h5 style="margin-left: 20px;font-family:TimesNewRoman;">27.1-64 m^3</h5>
					
				</div>

				<div class="col-md-3">

					<h5 style="margin-left: 270px;font-family:TimesNewRoman;">BasicPrice*1.15</h5>
					

				</div>
				


			</div>


<hr color="#FFFFFF">
			<div class="row">

				<div class="col-md-3">

                 <h5 style="margin-left: 20px;font-family:TimesNewRoman;">64.1-125m^3</h5>
					
				</div>

				<div class="col-md-3">

					<h5 style="margin-left: 270px;font-family:TimesNewRoman;">BasicPrice*1.2</h5>
					

				</div>
				


			</div>

<hr color="#FFFFFF">

			<div class="row">

				<div class="col-md-3">

                 <h5 style="margin-left: 20px;font-family:TimesNewRoman;">More than 125 m^3</h5>
					
				</div>

				<div class="col-md-3">

					<h5 style="margin-left: 270px;font-family:TimesNewRoman;">BasicPrice*1.25</h5>
					

				</div>
				


			</div>

<hr color="#FFFFFF">
			


            		
            		


            	</div>
            	



            </div>





        


            
	
			
		</div>
		<br/>
		<div class="card" style="border-color: rgb(54, 235, 216); height: 70px; margin-top: 10px;">

		<h4 style="margin-top: 10px;">TotalPrice=BasicPrice+WeigthPrice+VolumnPrice</h4>


			


		</div>
		<br/>

		<a href="{% url 'CargoApp:index'  %}">Back</a>

			<form action="{% url 'CargoApp:Pricing' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}



				




			</form>



			



		

		


     

</div>

		




	</div>
	{% endblock %}

</body>
</html>