{% extends 'AdminApp/base.html' %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
{% block content %}
<body>
	<div>
		<form method="POST" action="{% url 'AdminApp:user_change_pass' %}" enctype="multipart/form-data">
			{% csrf_token %}

			 {% for msg in messages %}



           <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hey!</strong>{{ msg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

        


        {% endfor %}


			{{ form.as_p }}

			
			


<input class="btn btn-success" type="submit" name="" value="save">
		</form>

		

	</div>
	{% endblock %}

</body>
</html>